
SQL Assignment -1

Instructions

create a SQLITE database or use an existing database and create a table in the database called "Ages":
CREATE TABLE Ages (
  name VARCHAR(128),
  age INTEGER
)

Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:

DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Mara', 28);
INSERT INTO Ages (name, age) VALUES ('Otto', 33);
INSERT INTO Ages (name, age) VALUES ('Fyn', 31);
INSERT INTO Ages (name, age) VALUES ('Neshawn', 17);

Once the inserts are done, run the following SQL command:
SELECT hex(name || age) AS X FROM Ages ORDER BY X

Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.
Answer ==> The first row in the resulting record set : 46796E3331

In [2]:


import sqlite3

In [16]:
#Command to create table
create_table= """
CREATE TABLE Ages (name VARCHAR(128),age INTEGER
);"""

In [17]:
executeSQL = sqlite3.connect('SQLITE.db') 
cur = executeSQL.cursor() 
cur.execute(create_table)

In [21]:
cur.execute('delete from Ages ')

In [25]:
 cur.executemany("Insert into Ages values(?,?)",[('Mara', 28), 
            ('Otto', 33),
            ('Fyn', 31),
            ('Neshawn', 17)])

In [76]:

# cur.execute('''INSERT INTO Ages (name, age) VALUES ('Mara', 28)''')
# cur.execute('''INSERT INTO Ages (name, age) VALUES ('Otto', 33)''')
# cur.execute('''INSERT INTO Ages (name, age) VALUES ('Fyn', 31)''')
# cur.execute('''INSERT INTO Ages (name, age) VALUES ('Neshawn', 17)''')

In [26]:
SQL_query = cur.execute('select * from Ages')
SQL_query


# get_data='select * from Ages'
# SQL_query=cur.execute(get_data)
# SQL_query

In [27]:
Result=SQL_query.fetchall()
Result

[('Mara', 28), ('Otto', 33), ('Fyn', 31), ('Neshawn', 17)]

In [31]:
cur.execute('SELECT hex(name || age) AS X FROM Ages ORDER BY X').fetchall()

[('46796E3331',),
 ('4D6172613238',),
 ('4E65736861776E3137',),
 ('4F74746F3333',)]

In [124]:
#first row as our Output
first_row = cur.execute('SELECT hex(name || age) AS X FROM Ages ORDER BY X').fetchone()

In [129]:
print("The first row in the resulting record set : ",first_row[0])

The first row in the resulting record set :  46796E3331